body {
   background-image: url("/cork_1280_b_1024_sml.jpg");
   background-color: #1c1c1c;
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover; 
   font-family: palatino, baskerville, serif;
   color: white;
   text-shadow: 0.2em 0.2em 0.4em #1c1c1c;
   }
   
h1 {
    font-size: 8em;
    font-weight: bold;
    margin-bottom: -0.2em;
    padding-top: 0em;
    padding-bottom: 0em;
   }   
   
h2 {
    font-size: 6em;
    font-weight: bold;
    margin: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
   }   

p {
    font-size: 1em;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  